<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-svg.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link id="pagestyle" href={{asset('css/argon-dashboard.css')}} rel="stylesheet" />
</head>

<body class="">

  <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent mt-4">
    <div class="container">
      <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white" href="../pages/dashboard.html">
      
      </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href={{path('dashboard')}}>
              <i class="fa fa-chart-pie opacity-6  me-1"></i>
              Tableau de bord
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-2" href={{path('app_profile')}}>
              <i class="fa fa-user opacity-6  me-1"></i>
              Profil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-2" href={{path('app_sign_up')}}>
              <i class="fas fa-user-circle opacity-6  me-1"></i>
              S'inscrire
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-2" href={{path('app_sign_in')}}>
              <i class="fas fa-key opacity-6  me-1"></i>
              Se connecter
            </a>
          </li>
        </ul>
        <ul class="navbar-nav d-lg-block d-none">
          <li class="nav-item">
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="main-content  mt-0">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signup-cover.jpg'); background-position: top;">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">

            
            <div class="card-body">


{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Réinitialisez votre mot de passe</h1>
                            <p class="mb-0">Entrez votre adresse e-mail, et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
                        </div>
                        <div class="card-body">
                            {% for flash_error in app.flashes('reset_password_error') %}
                                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                            {% endfor %}
                            
                            {{ form_start(requestForm) }}
                                <div class="mb-3">
                                    {{ form_row(requestForm.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-primary w-100 mt-3">Envoyer</button>
                                </div>
                            {{ form_end(requestForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

