
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href={{asset('img/apple-icon.png')}}>
  <link rel="icon" type="image/png" href={{asset('img/favicon.png')}}>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-svg.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link id="pagestyle" href={{asset('css/argon-dashboard.css')}} rel="stylesheet" />
</head>

<body class="">
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">

        <nav class="navbar navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4">
          <div class="container-fluid">
            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href={{path('dashboard')}}>
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav mx-auto">

                <li class="nav-item">
                  <a class="nav-link me-2" href={{path('app_utilisateur')}}>
                    <i class="fa fa-user opacity-6 text-dark me-1"></i>
                    utilisateur
                  </a>
                </li>


                <li class="nav-item">
                  <a class="nav-link me-2" href={{path('app_profile')}}>
                    <i class="fa fa-user opacity-6 text-dark me-1"></i>
                    Profil
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href={{path('app_sign_up')}}>
                    <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                    S'inscrire
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href={{path('app_sign_in')}}>
                    <i class="fas fa-key opacity-6 text-dark me-1"></i>
                    Se connecter
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav d-lg-block d-none">
                <li class="nav-item">
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>


  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container" style="width: 150%;">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="card card-plain">
                <div class="card-header pb-0 text-start">

                                    {% block body %}
                                            <div class="container mt-4" style="width: 230%;" >
                                                 <h2 class="text-center text-primary mb-4">
                                                    <i class="bi bi-house-door"></i> Foyers et Chambres Existants
                                                </h2>
                                        {% for foyer in foyers %}

                                            <div class="card mb-4 shadow-lg border-primary" >
                                                <div class="card-header" style="background-color: #f8f9fa; color: #343a40;" d-flex flex-column align-items-start">
                                                    <h4 class="mb-0" style="color:black;">{{ foyer.nom }}</h4>
                                                    <h6 class="mb-0">{{ foyer.adresse }}</h6><br>
                                                    <p class="mb-0"><strong>Genre:</strong> {{ foyer.genre }}</p>
                                                    <p class="mb-0"><strong>Gouvernorat:</strong> {{ foyer.gouvernorat }}</p>
                                                    <p class="mb-0"><strong>Capacité:</strong> {{ foyer.capacite }}</p>
                                                </div>

                                                <div class="card-body">
                                                    <h5 class="text-secondary mb-3">Chambres</h5>
            
                                                    <table class="table table-striped table-hover table-bordered">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th>Numéro</th>
                                                                <th>Capacité</th>
                                                                <th>État</th>
                                                                <th>Type de Lit</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            {% for chambre in foyer.chambres %}
                                                                <tr>
                                                                    <td class="align-middle">{{ chambre.numero }}</td>
                                                                    <td class="align-middle">{{ chambre.capacite }}</td>
                                                                    <td class="align-middle">{{ chambre.etat }}</td>
                                                                    <td class="align-middle">{{ chambre.typeLit }}</td>
                                                                </tr>
                                                            {% else %}
                                                                <tr>
                                                                    <td colspan="4" class="text-center text-muted">Aucune chambre disponible pour ce foyer.</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            {% else %}
                                                <p class="text-muted">Aucun foyer ni chambre disponible.</p>
                                            {% endfor %}
                                    {% endblock %}

                </div>
            </div>
        </div>
    </div>
</div>
</div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg');
          background-size: cover;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src={{asset('js/core/popper.min.js')}}></script>
  <script src={{asset('js/core/bootstrap.min.js')}}></script>
  <script src={{asset('js/plugins/perfect-scrollbar.min.js')}}></script>
  <script src={{asset('js/plugins/smooth-scrollbar.min.js')}}></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src={{asset('js/argon-dashboard.min.js')}}></script>
</body>

</html>